div{
  width: 150px;
  height:150px;
}

/* j'ai colorier le texte en rouge*/
#divsolid{

    color: red;
    background-color: lightblue;
    border: solid;
    /*j'ai changer la couleur de mon texte et l'arriere plan de mon texte*/
}
#divdouble{
    color:red;
    background-color: bisque;
    border: double;
    /*j'ai changer la couleur de mon texte et l'arriere plan de mon texte*/
}
#divdotted{
    color: rosybrown;
    background-color: aquamarine;
    border: dotted;
    /* j'ai changer la couleur de mon texte et l'arriere plan de mon texte*/
}
#divdashed{
    color: grey;
    background-color:yellow;
    border: dashed;
}
#div1{
     border:solid;
     color: green;
     border-radius: 25px 10px 45px 45px;

 
  }
   /* je selectionne ma deuxiéme balise <div> grace a son identifiant div2*/
#div2{

  color:orange;
  /* la bordure est doublée, de couleur blue et 4px d'épaisseur */
     border:double black 4px ;
     border-radius:15px;
     /*Le text est alligné au centre*/
     text-align: center;
     border-radius:30% 70% 70% 30% / 30% 58% 42% 70%;;
     background: linear-gradient(to right,blueviolet,rgb(225, 15, 130));
}
#div3{
  border:double;
  color:black;
  box-shadow: 6px 6px 0px rgba(0, 0, 0);
} 
